* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

/*
*
Body
*
*/

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* background-color: blue; */
  background-image: url(../img/baby-room.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
CountDown Timer Style
*/

.container--countdown {
  width: 100%;
  margin: 1.5rem auto 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
}

.container__div--p,
.container__div--icon,
.progress {
  font-weight: 600;
  margin-bottom: 1rem;
}

.container__div--icon {
  height: 40px;
  width: auto;
}

.progress,
.progress-inner {
  border-radius: 15px;
}

.progress {
  width: 80%;
  height: 15px;
  /* background-color: lightgrey; */
  background: rgb(168, 3, 3);
  background: linear-gradient(
    90deg,
    rgba(168, 3, 3, 1) 0%,
    rgba(140, 255, 0, 1) 100%
  );
  position: relative;
}

.progress-inner {
  /* background-color: green; */
  background-color: darkslategrey;
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress-inner.animate {
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-name: countdown;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes countdown {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.btn-start {
  padding: 10px 15px;
  width: 30%;
  background-color: #78a4e3;
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: 600;
}

/* -----------------          Memory board Style          ----------------- */

/*
*
START : Memory Game Area
*
*/
.my-main {
  width: 100%;
  height: 100%;
}

.container--memory-grid {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.memory-game {
  width: 100%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

@media screen and (min-width: 1440px) {
  .memory-game {
    width: 550px;
    height: 550px;
    margin: 0 auto;
  }
}
/*
*
STOP : Memory Game Area
*
*/

/*
*
START : Memory Cards
*
*/

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card :active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  position: absolute;

  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  background-color: rgb(236, 232, 232);
}

.back-face {
  background-color: rgba(236, 232, 232, 0.61);
  border: solid 2px black;
}

.back-face:hover {
  box-shadow: 0px 0px 10px 3px #76a13d inset;
}

/*
*
STOP : Memory Cards
*
*/

/*
*
* START : my-header
*
*/

.my-header {
}

/*
*
* STOP : my-header
*
*/

/*
*
START : Footer
*
*/

.my-footer {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 400;
}

.my-footer__ul--inline {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.my-footer ul li {
  list-style-type: none;
}
